.notification-card-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notification-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-color: var(--dl-color-simpd-s30);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
}

.notification-card-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  justify-content: flex-start;
}

.notification-card-text {
  color: var(--dl-color-simpd-s90);
  font-size: 1.83rem;
  font-family: Maven Pro;
}

.notification-card-text1 {
  color: var(--dl-color-simpd-s50);
  font-size: 1.25rem;
  font-family: Maven Pro;
}

.notification-card-text2 {
  color: var(--dl-color-simpd-s50);
  width: 60%;
  height: 100%;
  font-size: 1.25rem;
  font-family: Maven Pro;
}

.notification-card-text4 {
  font-style: italic;
}

.notification-card-icon {
  fill: var(--dl-color-simpd-s90);
  width: var(--dl-size-size-icontwo);
  cursor: pointer;
  height: var(--dl-size-size-icontwo);
  transition: 0.3s;
}

.notification-card-icon:hover {
  fill: var(--dl-color-simpd-brand);
}

.notification-card-root-class-name {
  margin-top: var(--dl-space-space-twounits);
}

.notification-card-root-class-name1 {
  margin-top: var(--dl-space-space-twounits);
}

.notification-card-root-class-name2 {
  margin-top: var(--dl-space-space-twounits);
}