.landing-page-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  overflow: auto;
  min-height: 100vh;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.landing-page-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing-page-text {
  color: var(--dl-color-simpd-s90);
  font-size: 2.5rem;
  align-self: flex-start;
  font-family: Maven Pro;
}
.landing-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  box-shadow: 5px 5px 10px 10px #1c1c1e;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-simpd-s30);
}
.landing-page-text1 {
  color: var(--dl-color-simpd-s90);
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
}
.landing-page-textinput {
  color: var(--dl-color-simpd-s90);
  width: 100%;
  padding: var(--dl-space-space-unit);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-color: var(--dl-color-simpd-s50);
  background-color: var(--dl-color-simpd-s30);
}
.landing-page-textinput:focus {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
  outline-width: 0;
}
.landing-page-textinput:hover {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
}
.landing-page-textinput:active {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
}
.landing-page-text2 {
  color: var(--dl-color-simpd-s90);
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
}
.landing-page-textinput1 {
  color: var(--dl-color-simpd-s90);
  width: 100%;
  padding: var(--dl-space-space-unit);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-color: var(--dl-color-simpd-s50);
  background-color: var(--dl-color-simpd-s30);
}
.landing-page-textinput1:focus {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
  outline-width: 0;
}
.landing-page-textinput1:hover {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
}
.landing-page-textinput1:active {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
}
.landing-page-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.landing-page-button {
  color: var(--dl-color-simpd-s90);
  width: 50%;
  font-size: 1.5rem;
  font-style: normal;
  transition: 0.3s;
  font-family: Maven Pro;
  font-weight: 500;
  border-color: var(--dl-color-simpd-s50);
  background-color: var(--dl-color-simpd-s40);
}
.landing-page-button:hover {
  border-color: var(--dl-color-simpd-s90);
}
.landing-page-button1 {
  color: var(--dl-color-simpd-s90);
  width: 50%;
  font-size: 1.5rem;
  font-style: normal;
  transition: 0.3s;
  font-family: Maven Pro;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-simpd-s50);
  background-color: var(--dl-color-simpd-brand);
}
.landing-page-button1:hover {
  border-color: var(--dl-color-simpd-s90);
}
@media(max-width: 479px) {
  .landing-page-container {
    padding: var(--dl-space-space-halfunit);
  }
}
