.dashboard-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  overflow: auto;
  min-height: 100vh;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.dashboard-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-text {
  color: var(--dl-color-simpd-s90);
  font-size: 1.83rem;
  align-self: center;
  font-family: Maven Pro;
}
.dashboard-textinput {
  color: var(--dl-color-simpd-s90);
  width: 45%;
  padding: var(--dl-space-space-unit);
  font-size: 1rem;
  transition: 0.3s;
  border-color: var(--dl-color-simpd-s50);
  background-color: var(--dl-color-simpd-s30);
}
.dashboard-textinput:focus {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
  outline-width: 0;
}
.dashboard-textinput:hover {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
}
.dashboard-textinput:active {
  color: var(--dl-color-simpd-s90);
  border-color: var(--dl-color-simpd-brand);
}
@media(max-width: 479px) {
  .dashboard-container {
    padding: var(--dl-space-space-halfunit);
    align-items: stretch;
    justify-content: space-between;
  }
  .dashboard-container2 {
    flex-direction: column;
  }
  .dashboard-textinput {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
}
