# Use the following in the service environment as overrides
SVC_ROLE_WEB_SERVER_ADDRESS=http://localhost:3000/graphql
SVC_ROLE_MICROSERVICE_HOST=localhost
SVC_USER_WEB_SERVER_ADDRESS=http://localhost:3002/graphql
SVC_USER_MICROSERVICE_HOST=grpc://localhost:4222
SESSION_SERVICE_MICROSERVICE_HOST=localhost
SESSION_SERVICE_WEB_SERVER_ADDRESS=grpc://localhost:4222
