.site-header-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  max-width: var(--dl-size-size-maxwidth);
}

.site-header-branding {
  width: 100%;
  display: block;
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-simpd-brand);
  border-top-left-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: var(--dl-radius-radius-radius4);
}

.site-header-text {
  color: var(--dl-color-simpd-s90);
  width: auto;
  font-size: 2.16rem;
  font-style: normal;
  text-align: center;
  font-family: Maven Pro;
  font-weight: 600;
  line-height: 2.66rem;
  letter-spacing: 4px;
  text-transform: lowercase;
}

.site-header-navbar {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #1C1C1E;
  border-bottom-left-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: var(--dl-radius-radius-radius4);
}

.site-header-nav {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-header-icon {
  fill: var(--dl-color-simpd-s90);
  width: var(--dl-size-size-icontwo);
  height: var(--dl-size-size-icontwo);
  transition: 0.3s;
  text-decoration: none;
}

.site-header-icon:focus {
  color: #00AFF0;
}

.site-header-icon:hover {
  fill: var(--dl-color-simpd-brand);
  color: #00AFF0;
}

.site-header-icon:active {
  fill: var(--dl-color-simpd-brand);
  color: #00AFF0;
}

@media(max-width: 767px) {
  .site-header-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .site-header-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media(max-width: 479px) {
  .site-header-navbar {
    padding: var(--dl-space-space-unit);
  }
}