.user-profile-card-icon2 {
  fill: var(--dl-color-simpd-s90);
  width: var(--dl-size-size-icontwo);
  cursor: pointer;
  height: var(--dl-size-size-icontwo);
  transition: 0.3s;
}

.user-profile-card-icon2:hover {
  fill: var(--dl-color-simpd-brand);
}

.user-profile-card-container5 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}

.user-profile-card-text3 {
  color: var(--dl-color-simpd-s90);
  font-size: 1rem;
  margin-top: var(--dl-space-space-unit);
}

.user-profile-card-navlink {
  display: contents;
}

.user-profile-card-container6 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}

.user-profile-card-container6 i {
  color: var(--dl-color-simpd-s50);
  font-size: 1rem;
  align-self: center;
}

.user-profile-card-text6 {
  color: var(--dl-color-simpd-s50);
  font-size: 1rem;
}

.user-profile-card-root-class-name {
  background-color: var(--dl-color-simpd-s20);
}

.user-profile-card-root-class-name1 {
  background-color: var(--dl-color-simpd-s20);
}

.user-profile-card-root-class-name2 {
  background-color: var(--dl-color-simpd-s20);
}

.user-profile-card-root-class-name3 {
  background-color: var(--dl-color-simpd-s20);
}